.presentation{
    text-align: center;
    border: 10px solid black;
    background: turquoise;
}
.profil_pic{
    width: 25%;
    border-radius: 100%;
    padding-top: 2%;
}
.my_country{ 
    text-align: center; 
    border: 10px solid blue;                              
}
.my_country img{
    width: 400px;
}
.my_country h2{
    padding: 2% 2% 2% 2%;
}
.clock{
    text-align: center; 
    border: 10px solid green;
    padding: 2% 2% 2% 2%;
    position: relative;
}
.formulaire{
    text-align: center; 
    border:cyan 10px solid;
    padding: 0% 2% 2% 2%;
    background: gray;
}
.formulaire h2{
    padding: 2%;
}
.icone_social{
    text-align: right;
    position: fixed;
}