.presentation{
    text-align: center;
    border: 10px solid black;
    background: rgb(0,14,36);
    color: white;
}
.profil_pic{
    width: 25%;
    border-radius: 100%;
    padding-top: 2%;
}
.my_country{ 
    text-align: center; 
    border: 10px solid blue;  
    padding-bottom: 2%;                            
}
.my_country img{
    width: 400px;
}
.my_country h2{
    padding: 2% 2% 2% 2%;
}
.my_country p{
    text-align: center;
    border: 2px solid black;
    max-height: 100%;
    height: 100%;
}
.clock{
    text-align: center; 
    border: 10px solid green;
    padding: 2% 2% 2% 2%;
    position: relative;
}
.formulaire{
    text-align: center; 
    border:cyan 10px solid;
    padding: 0% 2% 2% 2%;
    background: gray;
}
.formulaire h2{
    padding: 2%;
}
.icone_social{
    text-align: right;
    position: relative fixed;
}